.label {
  display: inline-block;
  margin-bottom: 1rem;
  padding: .4em .6em .4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #777;
}
